*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:#313444;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  height: 100 ;
  text-align: center;
}

#mySidenav a {
  position: absolute;
  left: -90px;
  transition: 0.3s;
  padding: 15px;
  padding-inline:4px;
  width: 120px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#aboutn {
  top: 220px;
  background-color: #04AA6D;

}

#blogn {
  top: 280px;
  background-color: #f44336;
  
}

#projectsn {
  top: 340px;
  background-color: #2196F3;
}


#contactn {
  top: 400px;
  background-color: #555;
}

.parallax {
  /* The image used */
  background-image: url("img/bg3.png");

  /* Set a specific height */
  min-height: 700px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}

  .text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: 70px;
    overflow: hidden;
  }

  .r_color {
    color: #FF3131;
    background-color: transparent;
  }

  .image_about {
    flex-basis: 100%;
    width: 280px;
    border-radius: 30px;
    cursor: pointer;            
    padding: 10px;
    
 
}


#mySideimg a {
  position: absolute;
  left: -255px;
  transition: 0.3s;
  padding-top: 0px;
  width: 100px;
  text-decoration: none;
}

#mySideimg a:hover {
  left: 0;
}

.p_text1{
  font-size: 55px;
  color: FFFEFF;
  cursor: pointer;
  overflow: hidden;
  display: center;
  text-align: center;
  margin: auto;
  margin-top: 4%;

}

.text_about {
  color: white;
  font: italic 20px "Fira Sans", serif;
  padding: 4%;
  
  
}

.p_text2{
  font-size:55px;
  color: FFFEFF;
  overflow: hidden;
  display: center;
  text-align: center;
  margin: auto;
  margin-top:2%;
}

.image_about2 {
  flex-basis: 100%;
  width: 230px;
  cursor: pointer;            
  margin: auto;
  padding-bottom: 1%;

}

.text_about2 {
  color: white;
  font: italic 16px "Fira Sans", serif;
  overflow: hidden;
  display: center;
  text-align: center;
  margin: auto;
  padding-bottom: 1%;
  
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 50%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 50%;
 
}

.blogimg {
 
  width: 100%;
  padding: auto;
  
}

/* Add a card effect for articles */
.card {
   background-color:#313444;
   padding: 30px;
   margin-top: 20px;
   text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}


.text_about3 {
  color: #f44336;
  font: italic 22px "Fira Sans", serif;
  overflow: hidden;
  display: center;
  text-align: center;
  margin: auto;
  padding-bottom: 0%;
  
}

.image_about3 {
  flex-basis: 100%;
  width: 160px;
  cursor: pointer;            
  margin: auto;
  padding-bottom: 0%;

}


#mySidefooter a {
  position: absolute;
  left: -97px;
  transition: 0.3s;
  padding: 12px;
  padding-inline: 4px;
  width: 120px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  border-radius: 0px 10px 10px 0px;
}

#mySidefooter a:hover {
  left: 0;
}

#linkedin {
  margin-top: 10px;
  background-color: #2867B2;
}

#insta {
  margin-top: 60px;
  background-color: rgb(225, 48, 108);
}

#fb {
  margin-top: 110px;
  background-color: #4267B2;

}

#twitter {
  margin-top: 160px;
  background-color: #1DA1F2;
  
}

button {
  
  padding: 8px 10px ;
  background-color: #f44336;;
  border:none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
  color: white;
  font-size: 1.4vw;
  position: fixed;
  bottom: 1%; 
  right:1%; 
  font-size: 100%;
}
button:hover {
  background-color: black;
}