@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Roboto:300,400,500,700,900&amp;display=swap");

*{
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:#1A1A1D;
}

html, body {
  font-family: 'Poppins', sans-serif;
  height: 100 ;
  text-align: center;
}

/*--Nav Bar--*/

#mySidenav a {
  position: absolute;
  left: -90px;
  transition: 0.3s;
  padding: 15px;
  padding-inline:4px;
  width: 120px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#aboutn {
  top: 220px;
  background-color: #c3073f;
  font-family:Georgia;

}

#blogn {
  top: 280px;
  background-color: #c3073f;
  font-family:Georgia;
  
}

#projectsn {
  top: 340px;
  background-color: #c3073f;
  font-family:Georgia;
}


#contactn {
  top: 400px;
  background-color: #c3073f;
  font-family:Georgia;
}


/*--Parallax--*/

.parallax {
  /* The image used */
  background-image: url("img/bg.png");

  /* Set a specific height */
  min-height: 700px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
.r_color {
  color: #c3073f;
  background-color: transparent;
}
 
/*--Parallax + Name--*/

  .text-block {
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    cursor: pointer;
    font-size: 60px;
    overflow: hidden;
    background-color: transparent;
    line-height: 60px;
    
  }


  .typewriter {
    font-family: Courier, monospace;
	  display: inline-block;
    background-color: transparent;  
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	  animation: typing 5s steps(18, end), blink .75s step-end infinite;
    white-space:nowrap;
    font-size: 25px;
    background-color: transparent;
    font-weight: 700;
    border-right: 4px solid #c3073f;
    box-sizing: border-box;   
}


@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: #c3073f; 
    }
} 



/*--Image About--*/


.p_text1{
  font-size: 55px;
  color: FFFEFF;
  cursor: pointer;
  overflow: hidden;
  display: center;
  text-align: center;
  margin: auto;
  margin-top: 40px;

}
.text_about {
  color: #6F2232;
  font:30px ;
  padding: 4%;  
}


.image{
  height: 25vw;
  width: 25vw;
  float: left;
  margin: 7.5vw;
  margin-top: 4.5vw;
}

.name{
  font-family: 'Poppins', sans-serif;
  font-weight: 370;
  font-size: 4.5vw;
  margin: 0px;
  line-height: 4.5vw;
  padding-top: 12vw;
  padding-bottom: 0vw;
  color: #4E4E50;
  background: transparent;
}

.introduction{
  display: inline;
  float: left;
  width: 55vw;
  text-align: center;
  height: fit-content;
 
  
}


.p_text2{
  font-size:55px;
  color: FFFEFF;
  overflow: hidden;
  display: center;
  text-align: center;
  margin: auto;
  margin-top:2%;
  color: #4E4E50;
}

.image_about2 {
  flex-basis: 100%;
  width: 230px;
  cursor: pointer;            
  margin: auto;
  padding-bottom: 1%;

}

.text_about2 {
  color: white;
  font: 16px ;
  overflow: hidden;
  display: center;
  text-align: center;
  margin: auto;
  padding-top: 0.5%;
  padding-bottom: 1%;
  
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 50%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 50%;
 
}

.blogimg {
 
  width: 100%;
  padding: auto;
  
}

/* Add a card effect for articles */
.card {
   background-color:#1A1A1D;
   padding: 30px;
   margin-top: 20px;
   text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}


.text_about3 {
  color: #c3073f;
  font: 55px ;
  overflow: hidden;
  display: center;
  text-align: center;
  margin: auto;
  padding-bottom: 0%;
  
}

.image_about3 {
  flex-basis: 100%;
  width: 160px;
  cursor: pointer;            
  margin: auto;
  padding-bottom: 0%;

}


#mySidefooter a {
  position: absolute;
  left: -90px;
  transition: 0.3s;
  padding: 10px;
  padding-inline: 4px;
  width: 118px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  border-radius: 0px 10px 10px 0px;
}

#mySidefooter a:hover {
  left: 0;
}

#linkedin {
  margin-top: 10px;
  background-color: #2867B2;
  font-family:Georgia;
}

#insta {
  margin-top: 60px;
  background-color: rgb(225, 48, 108);
  font-family:Georgia;
}

#fb {
  margin-top: 110px;
  background-color: #4267B2;
  font-family:Georgia;

}

#twitter {
  margin-top: 160px;
  background-color: #1DA1F2;
  font-family:Georgia;
  
}

button {
  
  padding: 8px 10px ;
  background-color: #c3073f;
  border:none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
  color: white;
  font-size: 1.4vw;
  position: fixed;
  bottom: 1%; 
  right:1%; 
  font-size: 100%;
}
button:hover {
  background-color: black;
}


@media screen and (max-width: 900px) {
  
  .text-block {     
    margin-left: 20px;
    }

  .image{
      width: 70vw;
      height: 70vw;
      margin: 8vw 13vw 0vw 15vw;
      padding-bottom: 0vw;
  }
  .name{
      font-size: 40px;
      line-height: 42px;
      margin: 0vw;
      padding-top: 3vw;
      font-weight: 500; 
  }
  .introduction{
      height: fit-content;
      margin: 0vw;
      padding: 0vw;
      width: 98vw;
      text-align: center;   
  }

}

@media screen and (max-width: 400px) {
  .typewriter-text {     
  font-size: 20px;
  }
}

