*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:#313444;
}
   
#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 220px;
  background-color: #04AA6D;

}

#blog {
  top: 280px;
  background-color: #2196F3;
}

#projects {
  top: 340px;
  background-color: #f44336;
  
}

#contact {
  top: 400px;
  background-color: #555
}

.parallax {
  /* The image used */
  background-image: url("img/bg.png");

  /* Set a specific height */
  min-height: 700px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}

  .text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: 80px;
    overflow: hidden;
  }

  .r_color {
    color: #000300;
    background-color: transparent;
  }

  .image_about {
    flex-basis: 100%;
    width: 280px;
    border-radius: 60px;
    cursor: pointer;            
    padding: 10px;
 
}


#mySideimg a {
  position: absolute;
  left: -260px;
  transition: 0.3s;
  padding-top: 15px;
  width: 100px;
  text-decoration: none;
  border-radius: 0 5px 5px 0;
}

#mySideimg a:hover {
  left: 0;
}

.p_text1{
  font-size: 65px;
  color: FFFEFF;
  cursor: pointer;
  overflow: hidden;
  display: center;
  text-align: center;
  margin: auto;
  margin-top: 4%;

}

.text_about {
  color: white;
  font: italic 20px "Fira Sans", serif;
  padding: 4%;
  
}

